body {
    font-family:'Times New Roman', Times, serif
    padding 40px;
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

.search-bar {
    width: 40%;
    max-width:400px;
    margin: 20px auto;
    display: flex;
    gap: 2px;
}

#searchIntake {
    flex: 1;
    padding: 10px;
    font-size: 15px;
}

button {
    cursor: pointer;
    padding: 12px 18px;
    font-size: 14px;
}

#results {
    margin-top: 25px;
    font-size: 18px;
}