
#global {
    display: flex;
    flex-direction: column;
    height: 900px;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 25px;
    padding-top: 10px;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    height: 50%;
}

#groceryContainer {
    display: flex;
    justify-content: center;
    width: 50%;
}

#storeContainer {

}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.storeButton {
    height: 20px;
    width: 20px;
    margin-top: 15px;
    border-radius: 100%;
}

.storeButton:hover {
    background-color: greenyellow;
}

#bottomLayout {
    display: flex;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: beige;
}