body {
    background-color: #e7f4ff;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    padding: 20px;
    margin-top: 0;
}

#navbar {
    text-align: center;
    padding: 10px;
}

#navbar a {
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

#searchContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#searchIntake {
    width: 300px;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}

.mainContainer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#storeContainer,
#groceryContainer {
    background: white;
    padding: 20px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

input {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

#storeList {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 10px;
    min-height: 80px;
    background: #fafafa;
}

.queriedItems {
    background-color: white;
    margin-top: 0px;
    
}

footer {
    background: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

footer h3 {
    margin: 5px 0;
}
